* {

    margin: 0;

    padding: 0;

}

.body{

    display: grid;

    


}

html {

    scroll-behavior: smooth;

}




.navcontent {

    width: max-width;

    font-size: 2rem;
    height: 3rem;

    background-color: rgb(174, 169, 255);

    box-shadow: 5px 5px 5px rgb(132, 132, 255);

    text-decoration: none;

}

.navcontent ul {

    display: flex;

    gap: 1rem;

    text-decoration: none;

    justify-content: space-evenly;

    padding-top: 0.7rem;

    
}

.m{
    text-decoration: none;
}

.navcontent ul li {

    color: rgb(255, 255, 255);

    list-style: none;

    font-size: 1.5rem;

    

    

    transition: 1s;

    cursor: pointer;


    

    font-family: 'Unbounded', cursive;

    text-decoration: none;

    text-decoration-style: none;

}

.info {

    display: flex;

    justify-content: space-evenly;

    width: max-width;

    margin-top: 0px;

    

}

.info h1{
    color: #ffffff;
}

.info p{
    color: #ffffff;
}

@keyframes info {

    0% {

        background-position: 0 50%;

    }

    50% {

        background-position: 100% 50%;

    }

    100% {


    }

}

.m:hover {

    background-color: #d4d4d4;

}

.imgdiv,

.bio {

    margin: 6rem;

}

.bio {

    font-family: 'Unbounded', cursive;

    font-size: large;

    background: rgba(255, 255, 255, 0.2);

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    backdrop-filter: blur(3px);

    -webkit-backdrop-filter: blur(3px);

    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.18);

    text-align: center;

    transform-style: preserve-3d;

    transform: perspective(1000px);

    
}

.bio h1, .bio h2 {
    transform: translateZ(50px);
  }



#section1 {

    height: 50rem;

    background-image: url("https://images.hdqwalls.com/download/green-blue-violet-gradient-8k-xv-1920x1080.jpg");

    

    display: inline-block;

    width: max-width;
;

}

#section2 {

    height: 800px;

    background: rgb(13,17,22);

    display: inline-block;

    width: max-width;

    

}


#section2 h1 {
    color: rgb(125,229,134);
    text-shadow:

}
#section2 h2 {
    color: #ffffff;
}
#section2 p {
    color: #ffffff;
    font-size: 1.4rem;
    padding-left: rem;
    font-family: 'Unbounded', cursive;
    font-weight: 1000;
}

#section3 {

    height: 900px;

    background: #d4d4d4;

    display: inline-block;

    width: max-width;

    background: rgb(13,17,22);
    margin-top: none;

    position: relative;

    

}

#section3 h1 {
    color: rgb(255,162,139)
}
#section3 h2 {
    color: #ffffff;
}
#section3 h3 {
    color: #ffffff;
}


#section4 {

    height: 1500px;


    display: inline-block;

    width: max-width;
    background: rgb(13,17,22);

}

#section4 h1 {
    color: #939aff;
}#section4 h2 {
    color: #ffffff;
}

h1 {

    margin: 100px;

    text-align: center;

    padding: 0;

}
.m {

    text-decoration: none;

}

h1 {

    font-family: 'Unbounded', cursive;

    text-align: left;

}

h2 {

    font-family: 'Unbounded', cursive;

    text-align: left;

    padding-left: 7rem;

    animation-delay: 0.5s;

}

h3 {

    font-family: 'Unbounded', cursive;

    text-align: left;

    padding-left: 8rem;

    animation-delay: 1s;

}

.icons {

    width: 4rem;

    padding-left: 11.5%;

    padding-top: 3rem;

}

.pic {

    width: 30rem;

    height: 20rem;

}
.aboutdivparent{
    display: grid;
    place-items: center;
}
.aboutdiv {

    display: flex;

    justify-content: space-evenly;

    background: #a6a6a633;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
max-width: 70rem;
width: 100%;
padding-top: 4rem;
max-height: 25rem;
height: 100%;
}



.educationdivparent{
    display: grid;
    place-items: center;
    max-height: 30rem;
    height: 100%;
}

.educationdiv{
    padding-left: rem;
    background: #a6a6a633;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
max-width: 70rem;
width: 100%;
padding-top: 4rem;
max-height: 25rem;
height: 100%;

transform-style: preserve-3d;

    transform: perspective(1000px);

}


.educationdiv h1, .educationdiv h2, .educationdiv h3{
    transform: translateZ(50px);
  }

.paragraph {

    text-align: left;

    padding-left: 6rem;

    padding-right: 3rem;

    padding-bottom: 5rem;
}

.anim {

    opacity: 0;

    transform: translateY(30px);

    animation: moveup 0.5s linear forwards;

}

@keyframes moveup {

    100% {

        opacity: 1;

        transform: translateY(0px);

    }

}

.connectdiv{
    
    display: grid;
    place-items: center;

}
.connectdivparent{
    background: #a6a6a633;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
max-width: 70rem;
width: 100%;
padding-top: 3rem;
padding-bottom: rem;
max-height: 25rem;
height: 100%;

}
.card {

    width: 50%;

    padding: 30px 90px 90px 90px;

    border: 6px solid rgba(0, 0, 0, 0.3);

    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);

    border-radius: 50px;

    position: relative;

    margin-left: rem;

}

.card h2 {

    color: rgba(0, 0, 0, 0.3);

    font-size: 3rem;

    text-transform: uppercase;

}

.card .row {

    position: relative;

    width: 100%;

    display: grid;

    grid: auto / auto auto;

    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));

    grid-gap: 30px;

}

.card .row .col {

    position: relative;

    width: 100%;

    margin: 30px 20px 40px 0;

    transition: 0.5s;

}

.card .row .form-group {

    position: relative;

    width: 100%;

    height: 40px;

    color: #ffffff;

    font-family: 'Unbounded', cursive;



}

.card .row .form-group input,

.card .row .form-group textarea {

    position: absolute;

    width: 90%;

    height: 100%;

    background: transparent;

    outline: none;

    font-size: 10px;

    padding: 10px 0 10px 20px;

    border: 5px solid rgba(0, 0, 0, 0.3);

    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);

    color: #ffffff;

    border-radius: 50px;

    font-family: 'Unbounded', cursive;

}

.card .row .form-group label {

    line-height: 40px;

    color: #ffffff;

    font-size: 24px;

    margin: 0 0 0 30px;

    display: block;

    pointer-events: none;

}

.row .col:nth-child(6) {

    margin-top: 64px;

}

.card .row .form-group input:focus,

.card .row .form-group textarea:focus {

    border: 5px solid #ffffff;

    transition: all 0.5s;

}

.card .row input[type="submit"] {

    border: 5px solid rgba(0, 0, 0, 0.3);

    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);

    padding: 10px;

    height: 100%;

    width: 50%;

    cursor: pointer;

    outline: none;

    background: transparent;

    text-transform: uppercase;

    color: #ffffff;

    line-height: 40px;

    font-size: 24px;

    font-weight: 700;

    border-radius: 45px;

    transition: all 0.4s;

}

.card .row input[type="submit"]:hover {

    border: 5px solid rgba(255, 255, 255, 1);

    color: #ffffff;

    transition: all 0.4s;

}

@media screen and (max-width: 900px) {

    .card .row {

        grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));

    }

    .card {

        padding: 20px;

    }

    .card h2 {

        font-size: 34px;

    }

    .card .row input[type="submit"] {

        width: 100%;

    }

}

.contact{

    display: grid;
    place-items: center;

    padding-top: 7rem;

    width: 100%;

    height: 42rem;
    
}

@media (max-width: 768px) {


    
    .body{
        width: min-content;
        display: grid;
    }


    .info{
        display: grid;
    }

    .aboutdiv{
        display: grid;
        gap: none;
        max-height: 80rem;
        height: 100%;
        width: 80%;
        padding-bottom: 2rem;
        padding-top: 4rem;
    }

    #section1{
        height: 90rem;
        background-repeat: no-repeat;
        background-image: url("rotatedpic.jpg");
        
    }
    
    #section2{
        height: 60rem;
    }

    #section3{
        height: 55rem;
    }

    #section3 h2{
        padding-left: 6%;
    }
    #section3 h3{
        padding-left: 10%;
    }

    #section4{
        height: 115rem;
        
    }

    #section2 p{
        padding-left: 3rem;
    }
    .educationdiv{
        padding-left: 0%;
        width: 80%;
        
    }
    .connectdiv{
        padding-left: 0px;
    }

    .connectdivparent{
        width: 80%;
        margin-bottom: 2rem;
    }
    .connectdivparent h2{
        padding-left: 9%;
        
    }
    .connectdivparent .icons{
        padding-left: 6%;
        
    }
    .bio{
        height: 35rem;
        width: fit-content;
    }

    .card{
        max-width: max-content;
        width: 100%;
        
    }

    .contact{
        padding-top: 5rem;
        height: 60rem;
    }
    .row{
        max-width: 450px;
    }

    .pic{
        width: 100%;
    }
   
}

.invert{
    filter: brightness(0) invert(1); 
}

.connect2{
    padding-left: none;
}

